@use "mixin" as m;
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: #000;
}
.wrapper {
  max-width: 960px;
  margin: 100px auto;
}
.sub-title {
  border-bottom: 1px solid #000;
  font-size: 3.2rem;
  text-align: center;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.copy {
  text-align: center;
  margin-top: 150px;
}
