@use "mixin" as m;
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: #000;
}
.section-wrapper {
  box-sizing: border-box;
  max-width: 960px;
  padding: 0 4%;
  margin: 100px auto;
}
.wrapper {
  box-sizing: border-box;
  max-width: 960px;
  padding: 0 4%;
  margin: 0 auto;
}

.sub-title {
  border-bottom: 1px solid #000;
  font-size: 3.2rem;
  text-align: center;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.copy {
  text-align: center;
  margin-top: 150px;
}
